In [1]:
import numpy as np
import pandas as pd
import statistics as st

In [2]:
data = pd.read_csv('./MiningProcess_Flotation_Plant_Database.csv', index_col=False, decimal = ',')

In [3]:
data.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31

In [4]:
data.dtypes

date                             object
% Iron Feed                     float64
% Silica Feed                   float64
Starch Flow                     float64
Amina Flow                      float64
Ore Pulp Flow                   float64
Ore Pulp pH                     float64
Ore Pulp Density                float64
Flotation Column 01 Air Flow    float64
Flotation Column 02 Air Flow    float64
Flotation Column 03 Air Flow    float64
Flotation Column 04 Air Flow    float64
Flotation Column 05 Air Flow    float64
Flotation Column 06 Air Flow    float64
Flotation Column 07 Air Flow    float64
Flotation Column 01 Level       float64
Flotation Column 02 Level       float64
Flotation Column 03 Level       float64
Flotation Column 04 Level       float64
Flotation Column 05 Level       float64
Flotation Column 06 Level       float64
Flotation Column 07 Level       float64
% Iron Concentrate              float64
% Silica Concentrate            float64
dtype: object

In [5]:
L = len(data)

In [6]:
L

737453

In [7]:
FloatationColumnAirFlowMean = []
FloatationColumnAirFlowMedian = []
FloatationColumnLevelMean = []
FloatationColumnLevelMedian = []
for i in range(L):
    val_airflow = [data['Flotation Column 01 Air Flow'][i], data['Flotation Column 02 Air Flow'][i], data['Flotation Column 03 Air Flow'][i], data['Flotation Column 04 Air Flow'][i], data['Flotation Column 05 Air Flow'][i], data['Flotation Column 06 Air Flow'][i], data['Flotation Column 07 Air Flow'][i]]
    val_level = [data['Flotation Column 01 Level'][i], data['Flotation Column 02 Level'][i], data['Flotation Column 03 Level'][i], data['Flotation Column 04 Level'][i], data['Flotation Column 05 Level'][i], data['Flotation Column 06 Level'][i], data['Flotation Column 07 Level'][i]]
    FloatationColumnAirFlowMean.append(st.mean(val_airflow))
    FloatationColumnAirFlowMedian.append(st.median(val_airflow))
    FloatationColumnLevelMean.append(st.mean(val_level))
    FloatationColumnLevelMedian.append(st.median(val_level))
    if ((i % 100000) == 0):
        print(f"{i} entries out of {L-1} entries computed")

0 entries out of 737452 entries computed
100000 entries out of 737452 entries computed
200000 entries out of 737452 entries computed
300000 entries out of 737452 entries computed
400000 entries out of 737452 entries computed
500000 entries out of 737452 entries computed
600000 entries out of 737452 entries computed
700000 entries out of 737452 entries computed

In [8]:
data['Floatation Column Air Flow Mean'] = FloatationColumnAirFlowMean
data['Floatation Column Air Flow Median'] = FloatationColumnAirFlowMedian
data['Floatation Column Level Mean'] = FloatationColumnLevelMean
data['Floatation Column Level Median'] = FloatationColumnLevelMedian

In [9]:
data.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate,Floatation Column Air Flow Mean,Floatation Column Air Flow Median,Floatation Column Level Mean,Floatation Column Level Median
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,443.558,502.255,446.370,523.344,66.91,1.31,265.090000,250.884,461.548429,446.370
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,448.086,496.363,445.922,498.075,66.91,1.31,264.534286,250.532,457.548000,448.086
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,449.688,484.411,447.826,458.567,66.91,1.31,264.120000,250.313,456.467000,451.240
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,446.210,471.411,437.690,427.669,66.91,1.31,265.359714,251.147,448.064429,446.210
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,453.670,462.598,443.682,425.679,66.91,1.31,264.663000,250.203,448.784714,452.441

In [10]:
data.dtypes

date                                  object
% Iron Feed                          float64
% Silica Feed                        float64
Starch Flow                          float64
Amina Flow                           float64
Ore Pulp Flow                        float64
Ore Pulp pH                          float64
Ore Pulp Density                     float64
Flotation Column 01 Air Flow         float64
Flotation Column 02 Air Flow         float64
Flotation Column 03 Air Flow         float64
Flotation Column 04 Air Flow         float64
Flotation Column 05 Air Flow         float64
Flotation Column 06 Air Flow         float64
Flotation Column 07 Air Flow         float64
Flotation Column 01 Level            float64
Flotation Column 02 Level            float64
Flotation Column 03 Level            float64
Flotation Column 04 Level            float64
Flotation Column 05 Level            float64
Flotation Column 06 Level            float64
Flotation Column 07 Level            float64
% Iron Concentrate                   float64
% Silica Concentrate                 float64
Floatation Column Air Flow Mean      float64
Floatation Column Air Flow Median    float64
Floatation Column Level Mean         float64
Floatation Column Level Median       float64
dtype: object

In [11]:
data = data[['% Iron Feed', '% Silica Feed', 'Starch Flow', 'Amina Flow', 'Ore Pulp Flow', 'Ore Pulp pH', 'Ore Pulp Density', 'Floatation Column Air Flow Mean', 'Floatation Column Air Flow Median', 'Floatation Column Level Mean', 'Floatation Column Level Median', '% Iron Concentrate', '% Silica Concentrate']]

In [12]:
data.head()

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Floatation Column Air Flow Mean,Floatation Column Air Flow Median,Floatation Column Level Mean,Floatation Column Level Median,% Iron Concentrate,% Silica Concentrate
0,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,265.090000,250.884,461.548429,446.370,66.91,1.31
1,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,264.534286,250.532,457.548000,448.086,66.91,1.31
2,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,264.120000,250.313,456.467000,451.240,66.91,1.31
3,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,265.359714,251.147,448.064429,446.210,66.91,1.31
4,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,264.663000,250.203,448.784714,452.441,66.91,1.31

In [13]:
data.to_csv('./miningdata.csv')